/*@media (max-width:619.98px){
  .container, .container-fluid, .container-lg, .container-md,
  .container-sm, .container-xl, .navbar-top .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}*/
.footer-text{
  margin-top:25px
}

.post-content>p>a:hover,.post-content>p>a:focus {
  opacity:0.85;
}

.white-swiper-button {
  background-color: rgb(255 255 255 / 80%) !important;
}

.svg-title {
  width: 100%;
  max-width: 1100px;
  height: auto;
}

.keep-all-words {
  word-break: keep-all;
}

.mt-n310 {margin-top:-310px!important}

.post-content>ol, .post-content>ul {
    margin-bottom: 2.05882em;
}

blockquote {
  font-size: 1.25em;
  font-weight: 500;
  font-style: italic;
}

blockquote>p {
  font-size:1em;
}

@media (max-width:619.98px){

  .page-navigation .icon-arrow-left{
    margin-right: 5px;
  }

  .page-navigation .icon-arrow-right{
    margin-left: 5px;
}

  .interactive-links .display-4 {
    font-size: 3em;
  }

  .join-us .icon-arrow-right{
    margin-left: -17px;
  }

  .page-title-h1{
    margin-bottom:25px;
  }

}

.aomoxo-logo-large{
  border-radius: 50%;
  width: 99px;
  height: 99px;
}
.aomoxo-logo{
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.navbar-footer.text-white a {
  color:white;
}
.navbar-dark, .navbar-dark a {
  color:white;
}

.table {
  margin: 0px;
}

.content-container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table-responsive,.bare-table {
  margin:60px 0
}

.table-wrapper {
  padding: 30px;
  border-width: 2px;
  border: solid #f7f7f9;
  position: relative;
}

.table-wrapper::after {
  display: block;
  clear: both;
  content: "";
}

.fill-secondary {
  fill: #d0021b !important;
  margin-right: 5px;
  //da3458
}

.table th, .table td {
  padding: 13px 15px;
  font-size: 15px;
}

.table tr:last-child td {
  border-bottom: 2px solid #ddd;
}

.red-th th, .red-cell {
  color: #da3458;
}

.mw-75 {
  min-width: 75px
}

.mw-100 {
  min-width: 100px
}

.mw-120 {
  min-width: 123px
}

.mw-150 {
  min-width: 150px
}

.mw-180 {
  min-width: 180px
}

.mw-200 {
  min-width: 200px
}



@media (max-width: 619.98px) {
  .table th, .table td {
    padding: 12px 14px;
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .content-container {
    max-width: 1140px;
  }
}
